<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partes/head'); -%>	
     <title>Administración - LOGIN</title>
     <link rel="stylesheet" href="/css/login.css">
</head>
<body class="bodyLogin"> 
    <%- body %>
</body>