/*  ----- IMPORTO TIPO DE LETRA  ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

/*  ----- CREO VARIABLE DE COLORES A UTILIZAR  ----- */
:root{
  --color-primario-dark: #001233;
  --color-secundario-dark: #FF595A;
  --color-terciario-dark: #CAC0B3;
  --color-blanco: #FFF;
}

/*  ----- SETEO LOS ESTILOS POR DEFECTO  ----- */
::after,
::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  ----- ESTILOS PARA EL LOGIN  ----- */
.bodyLogin{
  background-color: var(--color-primario-dark);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.form{
  width: 40%;
  background-color: var(--color-blanco);
  padding: 50px;
  border-radius: 20px;
}

.btn-primary{
  width: 100%;
  border: none;
  border-radius: 30px;
  background: var(--color-secundario-dark);
}

.form-control{
  color: var(--color-primario-dark);
  border: none;
  border-bottom: 1px solid var(--color-primario-dark);
  border-radius: 4px 4px 0 0;
}

h4{
  font-size: 2rem !important;
  font-weight: 700;
}

.form-label{
  font-weight: 800;
}