/*  ----- IMPORTO TIPO DE LETRA  ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*  ----- CREO VARIABLE DE COLORES A UTILIZAR  ----- */
:root{
    --color-primario-dark: #1e1e1e;     /*Color menu*/
    --color-secundario-dark: #414040;   /*Color hover de menu*/
    --color-terciario-dark: #e6c0c0;    /**/
    --color-blanco: #ffffff;
  }

  
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
}

/* Sidebar Elements Style */

#toggle-btn{
background-color: transparent;
cursor: pointer;
border: 0;
padding: 1rem 1.3rem;
}

#toggle-btn i{
font-size: 1.5rem;
color: var(--color-blanco);
}

/* Sidebar Toggle */

#sidebar.collapsed {
    
    margin-left: -264px;
    
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* Theme Toggler */
/*
.theme-toggle {
    background-color: var(--bs-body-color);

}
*/
html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}



/*Varios*/
.img_boton{
  width: 22px;
  float: left;
  margin-top: 2px;
  cursor: pointer;
  margin-left: 5px;
}

/*---------Icono de avatar start------------*/
.avatar {
    height: 40px;
    width: 40px;
}
.navbar-expand .navbar-nav {
    margin-left: auto;
}
/*---------Icono de avatar end------------*/



/*==========================================================
 sidebar style start
  ================================*/
  
  #sidebar{
    position:fixed;
    height:100vh!important;
    top:0;
    left:0;
    bottom:0;
    z-index:11;
    width:260px;
    overflow:auto;
    transition:all 0.3s;
    background-color:#fff;
    box-shadow: 0 0 30px 0 rgb(200 200 200 / 20%);
}



  @media only screen and (min-width:992px){
      #sidebar.active{
          left: -260px;
          height:100%!important;
          position:absolute!important;
          overflow:visible!important;
          top:0;
          z-index:666;
          float:left!important;
          bottom:0!important;
      }
      
     
      #content{
          width:calc(100% - 260px);
          position:relative;
          float:right;
          transition:all 0.3s;
      }
      
      #content.active{
          width:100%;
      }

  }
  

#sidebar::-webkit-scrollbar{
   width:5px;
   border-radius:10px;
   background-color:#eee;
   display:none;
}

 #sidebar::-webkit-scrollbar-thumbs{
   width:5px;
   border-radius:10px;
   background-color:#333;
   display:none;
}


 #sidebar:hover::-webkit-scrollbar{
   display:block;
}

#sidebar:hover::-webkit-scrollbar-thumbs{
   display:block;
}


#sidebar .sidebar-header{
   padding:20px;
   background-color:#fff;
   border-bottom:1px solid #eee;
}

.sidebar-header h3{
   color:#333;
   font-size:17px;
   margin:0px;
   text-transform:uppercase;
   transition:all 0.5s ease;
   font-weight:600;
}

.sidebar-header h3 img{
    width:45px;
    margin-right:10px;
}


#sidebar ul li{
    padding:2px 0px;
}


#sidebar ul li.active>a{
         color: #4c7cf3;
     background-color:#DBE5FD;
}

#sidebar ul li.active>a span{
         color: #4c7cf3!important;
}

#sidebar ul li.active>a i{
    color: #4c7cf3!important;
}


  #sidebar ul li a:hover{
      color: #4c7cf3;
      background-color:#DBE5FD;
  }


.dropdown-toggle::after {
 position: absolute;
 right: 22px;
 top: 18px;
 color: #777777;
}


#sidebar ul li.drodown{
 position:sticky;
}


#sidebar ul.components {    
 padding: 20px 0;
}

#sidebar ul li a {
 padding:5px 10px 5px 20px;
 line-height: 30px;
 font-size: 15px;
 position:relative;
 font-weight: 400;
 display: block;
}

#sidebar ul li a span{
 text-transform:capitalize;
 display:inline-block;
 color: #777777;
}

#sidebar ul li a i {
 position: relative;
 margin-right: 10px;
 top: 5px;
 font-size: 18px;
 color: #777777;
 margin-left: 10px;
}


/*==========================================================
sidebar style end
================================*/