<nav class="navbar nabvar-expand px-4 py-3">
    <div class="navbar-collapse d-flex">
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown no-arrow">
                <a href="#" class="nav-icon pe-md-0" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/cuenta.jpg" class="avatar img-fluid" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-end rounded">
                    <a href="#" class="dropdown-item">
                        <i class='bx bxs-cog'></i>
                        <span>configuracion</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="logout" class="dropdown-item">
                        <i class='bx bxs-exit'></i>
                        <span>logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>