<aside id="sidebar">
    <div class="d-flex logo">
        <button id="toggle-btn" type="button">
            <i class='bx bx-menu'></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">Gestion Billetera</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
           <a href="/inicio" class="sidebar-link">
                <i class='bx bx-home'></i>
                <span>Inicio</span>
           </a> 
        </li>

        <li class="sidebar-item">
           <a href="/ingreso" class="sidebar-link">
                <i class='bx bxs-bank'></i>
                <span>Ingresos</span>
           </a> 
        </li>

        <li class="sidebar-item">
           <a href="/egreso" class="sidebar-link">
                <i class='bx bx-wallet'></i>
                <span>Egresos</span>
           </a> 
        </li>
        <li class="sidebar-item">
           <a href="/usuario" class="sidebar-link">
                <i class='bx bx-user'></i>
                <span>Usuarios</span>
           </a> 
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class='bx bxs-cog'></i>
                <span>Configuracion</span>
            </a> 
         </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <img src="/img/light.svg" alt="light">
        </a> 
    </div>
</aside>