<!--MODAL NUEVO INGRESO-->


<div > 
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nro.:</span>
    </div>
    <input type="text" name="idIngreso" id="idIngreso" class="form-control" placeholder="" aria-describedby="basic-addon1" readonly onmousedown="return false;">
    </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Tipo de ingreso:</span>
    </div>
    <select type="text" name="idTipoIngreso" id="idTipoIngreso" class="form-select" placeholder="--- Seleccionar ---" aria-describedby="basic-addon1">
        <% tipoIngreso.forEach(function(item) { %>
        <option value=<%= item.idTipoIngreso %>><%= item.nombreTipoIngreso %></option>
        <% }); %>
    </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Descripcion:</span>
        </div>
        <input type="text" name="descripcion" id="descripcion" class="form-control" placeholder="Descripcion" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Cantidad($):</span>
        </div>
        <input type="number" name="cantidad" id="cantidad" class="form-control" placeholder="0000,00" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Fecha:</span>
        </div>
        <input type="date" name="fecha" id="fecha" class="form-control" aria-describedby="basic-addon1">
    </div>



</div>
<!---->